
.q-margin-top-half {
    margin-top: 5px;
}

.q-margin-top-1 {
    margin-top: 10px;
}

.q-margin-top-2 {
    margin-top: 20px;
}

.q-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
}