
.q-margin-top-half {
    margin-top: 5px;
}

.q-margin-top-1 {
    margin-top: 10px;
}

.q-margin-top-15 {
    margin-top: 15px;
}

.q-margin-top-2 {
    margin-top: 20px;
}

.q-margin-left-1 {
    margin-left: 10px;
}
.q-margin-left-15 {
    margin-left: 15px;
}
.q-margin-left-2 {
    margin-left: 20px;
}
.q-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

