<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
       大神榜
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item style="margin-bottom: 10px;">
        <div class="notice">
          <div class="notice-left">
            <ion-avatar item-left class="avatar">
              <img src="../../../assets/icon/drawable-hdpi-icon.png" />
            </ion-avatar>
          </div>
          <div class="notice-right">
            <h5 class="title">前端大神</h5>
            <p class="content">专业前端30年，专注于前端页面开发</p>
          </div>
        </div>
      </ion-item>
      <ion-item style="margin-bottom: 10px;">
        <div class="notice">
          <div class="notice-left">
            <ion-avatar item-left class="avatar">
              <img src="../../../assets/icon/drawable-hdpi-icon.png" />
            </ion-avatar>
          </div>
          <div class="notice-right">
            <h5 class="title">后端大佬</h5>
            <p class="content">擅长springboot开发</p>
          </div>
        </div>
      </ion-item>
      <ion-item style="margin-bottom: 10px;">
        <div class="notice">
          <div class="notice-left">
            <ion-avatar item-left class="avatar">
              <img src="../../../assets/icon/drawable-hdpi-icon.png" />
            </ion-avatar>
          </div>
          <div class="notice-right">
            <h5 class="title">Android鬼才</h5>
            <p class="content">无敌真寂寞,Android也就那样把！</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-app>