.card-bg {
    background-color: #fff;
    margin:0;
}

ion-avatar {
    box-sizing: content-box;
    padding-right: 5px;
    
}
.introduction {
    font-size: 13px;
    color: rgb(189, 179, 179);
    margin-top: 2px;
}
.reLogin-btn {
    padding: 0 20px;
    display: flex;
}