<ion-header class="header">
  <ion-toolbar>
    <ion-title text-center>我的主页</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="!isLogin" padding>
    <ion-card class="card-bg">
      <ion-card-header text-center>
        <ion-card-title> 登录问答社区 </ion-card-title>
      </ion-card-header>
      <ion-card-content text-center>
        <ion-button (tap) = "goToLoginPage()">
          登录/注册
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLogin">
    <ion-list class="q-margin-top-15" lines = "full">
      <ion-item button detail (tap) = "goToUserCenter()">
        <ion-avatar>
          <img src="../../../assets/icon/drawable-hdpi-icon.png" />
        </ion-avatar>
        <div>
          <strong>{{user.nickname}}</strong>
          <p class="introduction">查看个人中心或编辑个人资料</p>
        </div>
      </ion-item>
      <ion-button (tap)="reLogin()" class="reLogin-btn" color="primary">
        退出登录
       </ion-button>
    </ion-list>
  </div>
</ion-content>