<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab-mine" text="返回" (tap)="dismiss()"></ion-back-button>
      </ion-buttons>
      <ion-title>版本信息</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        AppName: 问问社区
      </ion-item>
      <ion-item>
        作者：<strong>刘宁</strong>
      </ion-item>
      <ion-item>
        开发语言: ionic 4.x
      </ion-item>
      <ion-item>
        VersionCode: 0.0.1
      </ion-item>
      <ion-item>
        版本号: 0.0.1
      </ion-item>
     
    </ion-list>
  </ion-content>
</ion-app>